#header{
    width: 100%;
}
.header-wrap{
    width: 70%;
    margin: auto;
}
.header-wrap2{
    width: 100%;
    padding: 21px 0;
    display: flex;
    flex-direction: row;
}
.logo{
    width: 140px;
    display: flex;
    align-items: center;
}
.logo-img{
    width: 140px;
    height: 28px;
}
.nav-form{
    width: calc(100% - 140px);
    display: flex;
}
.prenavbar{
    width: calc(100% - 42px);
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 1024px){
    .logo{
        align-items: initial;
        margin-top: 12px
    }
} 